@use "../abstracts" as *;

.button {
    background-color: $clr-primary;
    color: $clr-white;
    text-decoration: none;
    font-size: $fs-button;
    font-weight: $fw-bold;
    font-family: $ff-secondary;
    padding: $sp-boxes calc($sp-boxes*2);
    border-radius: 20rem;
    margin-top: 2rem;
    display: block;
    width: fit-content;

    &:hover {
        background-color: $clr-black--lighter;
        color: $clr-primary;
    }
}