//colors
$clr-black: #0B0B0C;
$clr-black--light: #151517;
$clr-black--lighter: #242427;
$clr-white: #FFFFFF;
$clr-primary: #1279FF;

// Spacings
$sp-xs: .5rem;
$sp-s: 0.8rem;
$sp-boxes: 1.25rem;
$sp-section: 2.5rem;

// Border-radius
$br: 1.5rem;
$br-s: calc($br - 0.4rem);
$br-xs: calc($br - 0.8rem);
$br-xxs: calc($br - 1rem);

//Font-family 
$ff-primary: "Inter", sans-serif;
$ff-secondary: "Inter", sans-serif;

// Font-weight
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;  

// Font-size 
$fs-p: 1.15rem;
$fs-p--mobile: 0.95rem;
$fs-button: 1.4rem;
$fs-h2: 2rem;
$fs-h2--mobile: 1.25rem;
$fs-h1: 3rem;
$fs-h1--mobile: 2.25rem;
$fs-xl: 7rem;
$fs-xl--mobile: 3rem;

// Breakpoints screen
$screen-xxs: 318px;
$screen-xs: 480px;
$screen-s: 768px;
$screen-m: 1024px;
$screen-l: 1280px;
$screen-xl: 1440px;

// Max width
$max-w: 1280px;

// border 
$border: .125rem;