@use "../abstracts" as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__bottom {
        padding: $sp-boxes 0;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
    }

    &__text {
        font-size: 0.8rem;
        opacity: 0.4;
    }

    &__language {
        color: $clr-white;
        text-decoration: none;
        opacity: 0.4;

        &:hover {
            color: $clr-primary;
            opacity: 1;
        }
    }
}