@use "../abstracts" as *;

.header {
    position: fixed;
    z-index: 10;
    top: calc($sp-boxes + $sp-boxes);
    border: $br;
    width: 100%;
    
    display: flex;
    justify-content: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    @include screen($screen-m){
        top: calc($sp-boxes + 3rem);
    }

    &__nav {
        width: 90%;
        max-width: $max-w;
        display: flex;
        justify-content: right;
    }
}

.nav {
    background-color: rgba($clr-black--lighter, 0.6);
    backdrop-filter: blur(10px);
    width: fit-content;
    transition: all ease-in-out 0.3s;

    margin-right: $sp-boxes;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: $br-xs;

    @include screen($screen-m){
        flex-direction: row;
        align-items: center;
    }

    &__bar {
        height: 0.2rem;
        background-color: $clr-white;
        width: .8rem;
        border-radius: 0.05rem;
        transition: transform 0.3s ease;
        box-sizing: border-box;
        padding: 0;
    }

    &__bar--top {
        height: fit-content;

        .closed {
            transform: rotate(0deg);
            margin-bottom: 0.25rem;
        }
    
        .open {
            transform: rotate(45deg);
        }
    }
    
    &__bar--bottom {
        height: fit-content;

        .closed {
            transform: rotate(0deg);
        }
    
        .open {
            transform: rotate(-45deg);
        }
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: calc($sp-boxes/2);

        @include screen($screen-m){
            flex-direction: row;
            padding-bottom: 0;
        }
    }

    &__item {
        font-weight: $fw-bold;
        opacity: 1;
        text-decoration: none;
        color: $clr-white;
        padding: calc($sp-boxes/2) $sp-boxes;
        text-align: right;

        @include screen($screen-m){
            padding: $sp-boxes calc($sp-boxes/2);
            text-align: left;
        }

        &:hover {
            color: $clr-primary;
            cursor: pointer;
        }

        &:last-child {
            padding-right: $sp-boxes;
        }
    }

    .active {
        color: $clr-primary;
    }
}

.nav__icon {
    padding: $sp-boxes;
    height: calc($fs-p + ($sp-boxes * 2));
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    @include screen($screen-m){
        flex-direction: column;
    }

    &:hover {
        cursor: pointer;
    }
}

.nav__icon--closed {
    flex-direction: column;
}

.nav__icon--open {
    .nav__bar--top {
        margin-left: -1.3rem;

        @include screen($screen-m){
            margin-left: 0;
        }
    }

    @include screen($screen-m){
        gap: 0.3rem;
    }
}