@use "../abstracts" as *;

.skills {
    &__list { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: $sp-boxes--mobile;

        @include screen($screen-m){
            font-size: $fs-button;
        }
    }

    &__item {
        background-color: $clr-black--light;
        padding: .6rem 1.2rem;
        border-radius: $br-xxs;
        font-size: $fs-p--mobile;

        @include screen($screen-m){
            font-size: $fs-button;
            padding: .8rem 1.6rem;
            border-radius: $br-xs;
        }

        &--selected {
            background-color: $clr-primary;
        }
    }
}