@use "../abstracts" as *;

.slogan {
    background-color: $clr-primary;
    width: 100%;
    padding: $sp-boxes;

    &__box {
        font-family: $ff-primary;
        font-weight: $fw-black;
        font-size: 2rem;
        line-height: 1.25;
        height: auto;
        overflow: hidden;
        text-align: left;

        @include screen($screen-s){
            text-align: center;
        }
        
        @include screen($screen-m){
            font-size: 4rem;
        }
    }
}