@use "../abstracts" as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $clr-black;
    color: $clr-white;
    font-family: "Inter", sans-serif;
    position: relative;
}

main {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($sp-section + 1rem);
    margin: $sp-boxes 0;

    @include screen($screen-m){
        gap: $sp-section;
        margin: 3rem 0;
    }
}

h1, h2, h3 {
    font-family: $ff-primary;
}

h1 {
    font-size: $fs-h1--mobile;
    font-weight: $fw-black;
    margin-bottom: $sp-boxes;
    line-height: 1.3;

    @include screen($screen-m){
        font-size: $fs-h1;
    }
}

h2 {
    font-size: $fs-h2--mobile;
    font-weight: $fw-black;
    line-height: 1.25;

    @include screen($screen-m){
        font-size: $fs-h2;
        line-height: 1.3;
    }
}

p {
    font-family: $ff-secondary;
    font-size: $fs-p--mobile;
    font-weight: $fw-light;
    line-height: 1.7;

    @include screen($screen-m){
        font-size: $fs-p;
    }   
}